body {
    margin: auto;
    text-align : center;
    color : #046ca8;
}

main{
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 53%);
    border: 4px solid #046ca8;
    border-radius : 10px;
    height: 50vh;
    padding: 20px;

}

button {
    width: 200px;
    padding: 5px;
    border-radius: 8px;
    font-size: 20px;

}

button:hover {
    cursor: pointer;
    animation: jelly 0.5s;
  }
  
  @keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }

  #result{
    padding : 10px;
    font-size: 20px;
  }